SQLite_node_demo.json
[{"id":"477967c8.5b18d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"374dba64.3413d6","type":"sqlite","z":"477967c8.5b18d8","mydb":"84977d29.21ebb","sqlquery":"fixed","sql":"CREATE TABLE CampTable (\n    question TEXT,\n    sender TEXT,\n    time_sent TIMESTAMP NOT NULL DEFAULT current_timestamp\n) ","name":"Create new SQLite table","x":310,"y":1640,"wires":[[]]},{"id":"9e06117c.73333","type":"inject","z":"477967c8.5b18d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":110,"y":1640,"wires":[["374dba64.3413d6"]]},{"id":"29a9675a.bf62a8","type":"mqtt in","z":"477967c8.5b18d8","name":"","topic":"messages/+","qos":"2","datatype":"auto","broker":"29ac9225.b75eae","nl":false,"rap":true,"rh":0,"x":90,"y":1700,"wires":[["70663db0.0fb0f4"]]},{"id":"70663db0.0fb0f4","type":"function","z":"477967c8.5b18d8","name":"form SQLite insertion","func":"msg.topic = `INSERT INTO CampTable (question, sender) VALUES ('${msg.payload}', '${msg.topic.split(\"/\")[1]}')`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1700,"wires":[["bd7b33a1.3a76b"]]},{"id":"bd7b33a1.3a76b","type":"sqlite","z":"477967c8.5b18d8","mydb":"84977d29.21ebb","sqlquery":"msg.topic","sql":"","name":"log in database","x":520,"y":1700,"wires":[[]]},{"id":"84977d29.21ebb","type":"sqlitedb","db":"ITP/Camp/CampDB","mode":"RWC"},{"id":"29ac9225.b75eae","type":"mqtt-broker","name":"","broker":"theyonetwork.cloud.shiftr.io","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]